<div class="page-outer"></div>
{{#each sections as |s|}}
  {{section-area
    section=s
    sizing-rect=sectionSizingRect
    current-section=section
    bounds=s.bounds
    viewport=sdViewport
    zoom=zoom
    imageViewChangedAt=imageViewChangedAt
    sectionSizeStart='sectionSizeStart'
    sectionDragStart='sectionDragStart'
    visible=editMode
  }}
{{/each}}
