<div class="handle handle-tl" data-handle="tl" draggable="true"></div>
<div class="handle handle-tr" data-handle="tr" draggable="true"></div>
<div class="handle handle-bl" data-handle="bl" draggable="true"></div>
<div class="handle handle-br" data-handle="br" draggable="true"></div>
{{yield}}
