@import "vendor/foundation/scss/normalize";
@import "foundation/foundation";
@import "foundation/foundation_default";

$heading-font-family: 'Scotch W01 Modern Display', serif;
$form-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$backgroundScreen: rgba(255,255,255,0.5);
// @keyframes domChanged { from { background: yellow; } }
// @-webkit-keyframes domChanged { from { background: yellow; } }
// .ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

$accentColor: #a8614B;
$creamColor: lighten($accentColor, 80);

h1, h2, h3  {
  font-family: $heading-font-family;
  color: $accentColor;
}

form {
  font-family: $form-font-family;
  .button, input {
    font-family: inherit;
  }
  .button {
    padding: .5rem 1rem;
  }
}

.page-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  canvas {
    background-color: #c7bfac;
  }
}

$handleSize: 0.6rem;
$handleOffset: ($handleSize / 2 * -1);
$sectionBorder: #fff;
$sectionBorderSelected: #888;

.section-area {
  background: $backgroundScreen;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  display: none;

  &.visible {
    display: block;
  }

  .handle {
    height: $handleSize;
    width: $handleSize;
    background: $backgroundScreen;
    position: absolute;
    cursor: pointer;
    border: 1px solid $sectionBorder;
    &.handle-tl {
      top: $handleOffset;
      left: $handleOffset;
    }
    &.handle-tr {
      top: $handleOffset;
      right: $handleOffset;
    }
    &.handle-bl {
      bottom: $handleOffset;
      left: $handleOffset;
    }
    &.handle-br {
      bottom: $handleOffset;
      right: $handleOffset;
    }
  }

  &.selected {
    border: 1px solid $sectionBorderSelected;
    .handle {
      background: $sectionBorderSelected;
    }
  }
  &:hover {
    border: 1px solid $sectionBorderSelected;
    .handle {
      border: 1px solid $sectionBorder;
    }
  }
}



.page-stats {
  position: fixed;
  top: 10%;
  left: 40%;
  font-size: .8rem;
}

.row {
  max-width: 82rem;
}

.thumbs-wrapper {
  overflow-y: scroll;
  box-sizing: border-box;
}

.page-thumbnail {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
  a {
    color: inherit;
  }
  .caption {
    position: absolute;
    bottom: 2rem;
    margin-left: 25%;
    width: 50%;
    text-align: center;
  }
}

h1,h2 {
  a {
      color: inherit;
    }
}

h2.page-title {
  position: absolute;
  z-index: 1;
}

$leaderheadVerticalMargin: .4rem;

header {

  h1 {
    font-size: 1.2rem;
    margin: $leaderheadVerticalMargin;
  }

  .page-links {
    margin: $leaderheadVerticalMargin;
    li {
      margin-left: 1rem;
    }
    a {
      font-size: 1.5rem;
      color: $accentColor;
    }
  }
}

.row.wide {
  max-width: 80rem;
}

#section-content {
  overflow-y: scroll;
  height: 99%;
  .translation {
    font-size: 0.8rem;
    padding-left: 1.5rem;
    p {
      font-size: inherit;
    }
  }
  .section-wrapper {
    .section-link {
      display: block;
      float: left;
      width: .75rem;
      height: .75rem;
      margin-top: 0.2rem;
      background: $accentColor;
      &:hover {
        background: lighten($accentColor, 10);
      }
    }
  }
}

.section-column {
  position: absolute;
  bottom: 0;
  background: $backgroundScreen;
  max-height: 18%;
  padding: 0 1rem 0 0;
}
@media #{$medium-up} {
  .section-column {
    background: transparent;
    position: static;
    bottom: auto;
  }
}


#sections-nav {
  z-index: 2;
  position: absolute;
  right: 2rem;
  top: 1rem;

  li {
    text-align: center;
    font-size: 1rem;

    a {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      color: $accentColor;
      &.active {
        border-radius: 3rem;
        background: $accentColor;
        color: $creamColor;
        &.page-link {
          background: none;
        }
        i {
          color: lighten($accentColor, 30);
        }
      }
    }
  }

  i {
    display: block;
    color: $accentColor;
    font-size: 1.2rem;

    &.bordered {
      border: 1px solid $accentColor;
    }
    &.screened {
      background: $backgroundScreen;
    }
  }
  li {
    margin-bottom: 1rem;
  }
  .edit-mode-toggle.active {
    color: red;
  }
}

body,html{
    height:100%;
    width:100%;
}

.application-wrapper {
  height: 100%;
}

.off-canvas-wrap,.inner-wrap{
  height:100%;
}


footer {
  background: $backgroundScreen;
  position: absolute;
  bottom: 0;
}
