<div class="main-all thumbs-wrapper">
  <ul class="thumbnail-array">
    {{#each p in pagesSorted}}
    <li>
      <article class="page-thumbnail">
        {{#link-to 'page' key p.slug class='th'}}
          <img class="dt" {{bind-attr src=p.thumbSmall}}>
          <p>{{p.title}}</p>
        {{/link-to}}
      </article>
    </li>
    {{/each}}
  </ul>
</div>
