{{#treatise/pages-index treatise=model as |t|}}
  <ul class="thumbnail-array">
    {{#each t.pagesSorted as |p|}}
      <li>
        <article class="page-thumbnail">
          {{#link-to 'page' p.slug class='th'}}
            <img class="dt" src={{p.thumbSmall}}>
            <p>{{p.title}}</p>
          {{/link-to}}
        </article>
      </li>
    {{/each}}
  </ul>
{{/treatise/pages-index}}
