{{#if media.isMedium}}
  {{#if settings.editMode}}
    <ul>
      <li>
        <a {{bind-attr href=adminEditLink}} target="_blank">Admin edit page</a>
      </li>
      {{#each page.treatise.sequences as |sequence|}}
        {{page/sectionSequence sequence=sequence}}
      {{/each}}
    </ul>
  {{/if}}
{{/if}}

