{{#if media.isMedium}}
  {{#if settings.editMode}}
    <ul>
      <li>
        <a {{bind-attr href=adminEditLink}} target="_blank">Admin edit page</a>
      </li>
      {{#each sequence in page.treatise.sequences itemController='page/sectionSequences'}}
        <li class='checkbox-list-item'>
          <label>
            {{input type='checkbox' name='attached' checked=sequence.attached}}
            {{sequence.title}}
          </label>
          {{#if sequence.sequenceItem}}
            {{#with sequence}}
            {{partial 'sequences/sequence-item-editor'}}
            {{/with}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}

