// Put your development configuration here.
//
// This is useful when using a separate API 
// endpoint in development than in production.
//

// FbEnv.ENV.APP.dziBaseUrl = '/media';
// FbEnv.ENV.APP.keystonePath = 'http://localhost:3004/keystone'

