<label>
  {{input type='checkbox' name='attached' checked=sequence.attached}}
  {{sequence.title}}
</label>
{{#if sequence.sequenceItem}}
  {{#with sequence}}
  {{partial 'sequences/sequence-item-editor'}}
  {{/with}}
{{/if}}
