<li>
  {{#link-to 'page' prevPage.slug title=prevPage.title disabled=noPrevPage}}
    <i class="icon-circle-left"></i>
  {{/link-to}}
</li>
<li>
  {{#link-to 'page' nextPage.slug title=nextPage.title disabled=noNextPage}}
    <i class="icon-circle-right"></i>
  {{/link-to}}
</li>

