<div id="section-content">
  {{#each section in sectionsSorted}}
  <div class="section-wrapper">
    {{#link-to 'page.section' page.slug section.sortOrder class='section-link'}}{{/link-to}}
    <div class="translation">
      <p>{{{section.formattedContent}}}</p>
    </div>
  </div>
  {{/each}}
  {{copyright-slug content=page.treatise.copyright.html}}
</div>
