<div id="section-content">
  {{#each section in sections}}
  <div class="section-wrapper">
    {{#link-to 'page.section' page.slug section.sortOrder class='section-link'}}{{/link-to}}
    <div class="translation">
      <p>{{section.translation.md}}</p>
    </div>
  </div>
  {{/each}}
</div>
