{{#application-wrapper}}
  <header class='top-nav'>
    <div class='icon icon-menu menu'></div>
    <div class='title'>{{pageTitle}}</div>
  </header>
  <section>
    {{outlet}}
  </section>
  {{outlet 'page-nav'}}
  {{outlet 'side-nav'}}
{{/application-wrapper}}
