<div class="main-all">
  <p>
    {{#if session.isAnon}}
      Please {{#link-to 'signin'}}sign in{{/link-to}}.
    {{else}}
      {{#link-to 'treatises'}}Step into the crossing{{/link-to}}
    {{/if}}
  </p>
</div>
