{{#page/sizing-rect as |sizingRect|}}
  <div class="main-left page-image-container">
    {{page-image
      boundsRect=boundsRect
      sections=model.sections
      section=section
      dziUrl=model.dziUrl
      zoom=zoom
      imagesizingRectChangedAt=imagesizingRectChangedAt
      sdZoom="sdZoom"
      pageClick="pageClick"
      sectionMoved="sectionMoved"
        imagesizingRectChanged="imagesizingRectChanged"
      editMode=settings.editMode
      sectionClicked="sectionClicked"
    }}
  </div>
  <div class="main-right section-column" {{bind-attr style=sizingRect.sizeContentStyle}}>
    {{outlet}}
  </div>

{{/page/sizing-rect}}
