<div class="main-left">
  <h1 class="left">{{#link-to 'treatise' key}}{{title}}{{/link-to}}</h1>
</div>
<div class="main-right">
  {{outlet 'treatiseNav'}}
</div>
<div class="main-all">
  {{outlet}}
</div>
