<header>
  <div class="row">
    <div class="large-6 small-6 columns">
      <h1 class="left">{{#link-to 'treatise' key}}{{title}}{{/link-to}}</h1>
    </div>
    <div class="large-6 small-6 columns">
      {{outlet 'treatiseNav'}}
    </div>
  </div>
</header>
{{outlet}}
